@font-face {
  font-family: "infouneb-2016";
  src: url("../fonts/infouneb-2016.eot");
  src: url("../fonts/infouneb-2016.eot?#iefix") format("embedded-opentype"), url("../fonts/infouneb-2016.woff") format("woff"), url("../fonts/infouneb-2016.ttf") format("truetype"), url("../fonts/infouneb-2016.svg#infouneb-2016") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "infouneb-2016" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "infouneb-2016" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\61"; }

.gradient-line, .gradient-line--top:before, .container:before, .inscreva:before {
  background: linear-gradient(to right, #351347 0%, #351347 14%, #38619e 14%, #38619e 24%, #38619e 31%, #963096 31%, #963096 50%, #c13030 50%, #c13030 66%, #e8be10 66%, #e8be10 83%, #389347 83%, #389347 100%); }

.gradient-line--top:before, .container:before, .inscreva:before {
  display: block;
  content: "";
  height: 2.1875vw; }

.navigation {
  position: relative; }

.navigation .networks,
.navigation--pages {
  display: none; }

.navigation--button {
  width: 25vw;
  height: 25vw;
  background: #e8be10;
  border-radius: 3.125vw;
  transform: rotate(45deg);
  position: fixed;
  top: -15.625vw;
  right: 9.375vw; }

.navigation--button:before {
  transform: rotate(-45deg);
  display: block;
  font-size: 8.125vw;
  color: #fff;
  position: absolute;
  bottom: 0px;
  margin-left: 15vw;
  margin-bottom: 1.875vw; }

.header {
  background: #38184b url(../images/bg-inicio.jpg);
  background-size: cover;
  height: auto;
  border: 1px solid transparent; }

.header--logo {
  margin: 15.625vw 0px; }

.header--logo--link {
  display: block;
  background: url(../images/logo.png);
  background-size: contain;
  width: 70vw;
  height: 35vw;
  margin: auto; }

.header--meta {
  margin: 12.5vw 0px 0px; }

.header--chamada, .header--chamada__direita {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 4.375vw;
  text-align: center;
  width: 90vw;
  margin: 0px auto; }

.inscreva {
  background: #2e5286;
  width: 80vw;
  margin: 9.375vw auto 3.125vw;
  color: #fff;
  overflow: hidden;
  margin-bottom: -12.5vw;
  z-index: 10; }
  .inscreva:before {
    height: 1.96875vw; }

.inscreva--data {
  padding: 9.375vw 2.8125vw 5vw;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14.375vw;
  line-height: 1; }
  .inscreva--data span {
    display: block;
    font-size: 6.25vw; }

.inscreva--button, .inscreva--button:focus {
  background: #e6be1e;
  display: block;
  width: 80%;
  margin: 0px auto 6.25vw;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 2.5vw 0px;
  font-size: 5vw;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1.875vw; }

.sobre-o-evento {
  background: #333 url(../images/bg-sobre-o-evento.jpg) no-repeat;
  background-position: top right;
  padding: 18.75vw 6.25vw 0; }

.sobre-o-evento--chamada {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 4.375vw;
  color: #fff;
  text-align: center; }
  .sobre-o-evento--chamada:after {
    content: "";
    display: block;
    width: 100%;
    background: url(../images/dots.png) no-repeat center center;
    height: 3.125vw;
    margin-bottom: 3.125vw; }

.sobre-o-evento--texto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 4.375vw;
  color: #fff; }

.sobre-o-evento--button-continue, .sobre-o-evento--button-continue:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: #e6be1e;
  display: none;
  width: 80%;
  margin: 0px auto 6vw;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 2.5vw 0px;
  font-size: 5vw;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1.875vw; }

/* organizado */
body {
  background: yellow; }

.speaker {
  width: 80vw;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif; }

.speaker--date {
  color: #fff;
  font-weight: 700;
  padding: 0.9375vw;
  display: block;
  font-size: 5.625vw; }

.speaker--photo {
  display: none; }

.speaker--name {
  background: #fff;
  color: #556BA3;
  width: 50vw;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75vw;
  line-height: 2.4; }

.speaker--time {
  color: #fff;
  overflow: hidden;
  font-weight: 700;
  font-size: 3.75vw;
  line-height: 2.4; }
  .speaker--time .start, .speaker--time .end {
    background: #963494;
    float: left;
    width: 15vw;
    text-align: center; }
  .speaker--time .end {
    background: #642363; }

.speaker--title {
  background: #556BA3;
  color: #fff;
  font-size: 4.375vw;
  padding: 3.125vw;
  text-align: center;
  text-transform: uppercase;
  min-height: 23.75vw;
  display: table;
  width: 100%; }
  .speaker--title .speaker--title--text {
    display: table-cell;
    vertical-align: middle;
    min-height: 23.75vw; }

@media (min-width: 40em) {
  .speaker {
    width: 100%;
    position: relative; }
  .speaker--date {
    padding: 3px 8px;
    font-size: 18px;
    background: #963494;
    display: inline-block;
    position: absolute;
    top: 0; }
  .speaker--photo {
    display: block; }
  .speaker--name {
    width: 60%;
    font-size: 12px; }
  .speaker--time {
    font-size: 12px;
    width: 39.5%; }
    .speaker--time .start, .speaker--time .end, .speaker--time .start-medium, .speaker--time .end {
      width: 50%; }
  .speaker--title {
    font-size: 14px;
    padding: 10px;
    min-height: 76px;
    width: 100%; }
    .speaker--title .speaker--title--text {
      min-height: 76px; } }

@media (min-width: 64em) {
  .speakers {
    padding: 60px 0; }
  .speaker--date {
    margin-top: -5px;
    margin-left: -10px; }
  .speaker--meta {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: -80px; } }
