@font-face {
  font-family: "infouneb-2016";
  src: url("../fonts/infouneb-2016.eot");
  src: url("../fonts/infouneb-2016.eot?#iefix") format("embedded-opentype"), url("../fonts/infouneb-2016.woff") format("woff"), url("../fonts/infouneb-2016.ttf") format("truetype"), url("../fonts/infouneb-2016.svg#infouneb-2016") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "infouneb-2016" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "infouneb-2016" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\61"; }

.linha:before {
  display: block;
  content: "";
  height: 5px;
  background: linear-gradient(to right, #351347 0%, #351347 14%, #38619e 14%, #38619e 24%, #38619e 31%, #963096 31%, #963096 50%, #c13030 50%, #c13030 66%, #e8be10 66%, #e8be10 83%, #389347 83%, #389347 100%); }

.navigation {
  position: relative; }

.navigation .networks,
.navigation--pages {
  display: none; }

.navigation--button {
  width: 80px;
  height: 80px;
  background: #e8be10;
  border-radius: 10px;
  transform: rotate(45deg);
  position: fixed;
  top: -50px;
  right: 30px; }

.navigation--button:before {
  transform: rotate(-45deg);
  display: block;
  display: block;
  font-size: 26px;
  color: #fff;
  position: absolute;
  bottom: 0px;
  margin-left: 48px;
  margin-bottom: 6px; }

.header {
  background: #38184b url(../images/bg-inicio.jpg);
  background-size: cover;
  height: auto;
  border: 1px solid transparent; }

.header--logo {
  margin: 50px 0px; }

.header--logo--link {
  display: block;
  background: url(../images/logo.png);
  background-size: contain;
  width: 70vw;
  height: 35vw;
  margin: auto; }

.header--meta {
  overflow: hidden;
  margin: 40px 0px 0px; }

.header--chamada, .header--chamada__direita {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 90vw;
  margin: 0px auto; }

.inscreva {
  background: #2e5286;
  width: 70vw;
  margin: 10px auto;
  color: #fff;
  overflow: hidden; }

.inscreva.linha:before {
  height: 2vw; }

.inscreva--data {
  padding: 9vw 2.8vw 5vw;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14.4vw;
  line-height: 1; }
  .inscreva--data span {
    display: block;
    font-size: 6.5vw; }

.inscreva--button,
.inscreva--button:focus {
  background: #e6be1e;
  display: block;
  width: 80%;
  margin: 0px auto 6vw;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 2.4vw 0px;
  font-size: 5vw;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1.8vw; }

.container.linha:before {
  position: fixed;
  width: 100%; }
