.header
  background: #38184b url(../images/bg-inicio.jpg)
  background-size: cover
  height: auto
  border: 1px solid transparent

.header--logo
  margin: 15.62vw 0px

.header--logo--link
  display: block
  background: url(../images/logo.png)
  background-size: contain
  width: 70vw
  height: 35vw
  margin: auto

.header--meta
  margin: 12.5vw 0px 0px

.header--chamada
  font-family: 'Open Sans', sans-serif
  color: #fff
  font-weight: 600
  font-size: 4.38vw
  text-align: center
  width: 90vw
  margin: 0px auto

  &__direita
    @extend .header--chamada
