$vw-context-enabled: true

.inscreva
  background: #2e5286
  width: get-vw(256px)
  margin: get-vw(30px) auto get-vw(10px)
  color: #fff
  overflow: hidden
  margin-bottom: get-vw(-40px)
  z-index: 10

  &:before
    @extend .gradient-line--top
    height: get-vw(6.3px)

.inscreva--data
  padding: get-vw(30px) get-vw(9px) get-vw(16px)
  text-align: center
  text-transform: uppercase
  font-family: 'Open Sans', sans-serif
  font-weight: 700
  font-size: get-vw(46px)
  line-height: 1

  span
    display: block
    font-size: get-vw(20px)

.inscreva--button
    background: #e6be1e
    display: block
    width: 80%
    margin: 0px auto get-vw(20px)
    color: #fff
    text-transform: uppercase
    text-align: center
    padding: get-vw(8px) 0px
    font-size: get-vw(16px)
    font-weight: 700
    font-family: 'Open Sans', sans-serif
    border-radius: get-vw(6px)
    transition: all linear 300ms

    &:focus, &:hover
        @extend .inscreva--button

    &:hover
        transform: scale(1.1)


$vw-context-enabled: false


@media #{$media-query-medium}

    .inscreva
      width: 100%
      min-width: get-vw(228px)
      margin: get-vw(30px) auto get-vw(10px)
      margin-bottom: get-vw(-40px)
      height: 234px

      &:before
        height: get-vw(6.3px)

    .inscreva--data
      padding: get-vw(40px) get-vw(9px) get-vw(16px)
      font-size: get-vw(60px)

      span
        font-size: get-vw(28px)

    .inscreva--button
      margin: 0px auto get-vw(20px)
      padding: get-vw(8px) 0px
      font-size: get-vw(24px)
      border-radius: get-vw(6px)
