.inscreva {
    background: #2e5286;
    width: 70vw;
    margin: 10px auto;
    color: #fff;
    overflow: hidden;
}

.inscreva.linha:before {
    height: 2vw;
}

.inscreva--data {
    padding: 9vw 2.8vw 5vw;
    text-align:center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14.4vw;
    line-height: 1;

    span {
        display: block;
        font-size: 6.5vw;
    }
}

.inscreva--button,
.inscreva--button:focus {
    background: #e6be1e;
    display: block;
    width: 80%;
    margin: 0px auto 6vw;
    color: #fff;
    text-transform: uppercase;
    text-align:center;
    padding: 2.4vw 0px;
    font-size: 5vw;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border-radius: 1.8vw;
}
