$vw-context-enabled: true

.location
    position: relative
    overflow: hidden

.location:before
    @extend .gradient--top
    height: get-vw(6.3px)

.location > .row
    position: relative

.location--title
    position: absolute
    top: get-vw(12px)
    right: 0
    background: #38619e
    font-family: $font-family
    text-transform: uppercase
    color: #fff
    font-weight: 900
    padding: get-vw(10px) get-vw(20px)
    font-size: get-vw(16px)
    box-shadow: get-vw(3px) get-vw(3px) get-vw(0px) #1f385f
    z-index: 99

.location--map
    background: #e7e7e7
    border: 1px solid #ccc
    border-radius: 4px
    height: get-vw(300px)

.location--text
    position: absolute
    bottom: get-vw(30px)
    font-size: get-vw(14px)
    color: #483e78
    background: rgba(255,255,255,0.8)
    width: get-vw(200px)
    left: 50%
    margin-left: get-vw(-150px)
    padding: get-vw(10px)

    p
        margin: 0
        line-height: 1

$vw-context-enabled: false

@media #{$media-query-medium}

    .location:before
        height: get-vw(6.3px)

    .location--title
        position: absolute
        top: get-vw(70px)
        right: 0
        background: #38619e
        font-family: $font-family
        text-transform: uppercase
        color: #fff
        font-weight: 900
        padding: get-vw(10px) get-vw(20px)
        font-size: get-vw(22px)
        box-shadow: get-vw(3px) get-vw(3px) get-vw(0px) #1f385f
        z-index: 99

    .location--map
        height: get-vw(550px)

    .location--text
        bottom: get-vw(-100px)
        font-size: get-vw(16px)
        transition: all 0.2s linear
        padding: get-vw(20px)
        width: 100%
        margin-left: 0
        left: 0
        cursor: pointer
        text-align: center

    .location:hover
        .location--text
            bottom: 0

