$vw-context-enabled: true

.partners
    background: #483e78
    padding-bottom: get-vw(50px)
    overflow: hidden


.partners:before
    @extend .gradient--top
    height: get-vw(6.3px)

.partners--title
    background: $cor-amarelo
    display: inline-block
    padding: get-vw(5px) get-vw(10px)
    color: #fff
    font-family: $font-family
    text-transform: uppercase
    font-weight: bold
    font-weight: 900
    margin: get-vw(30px) get-vw(15px) get-vw(5px)
    box-shadow: get-vw(3px) get-vw(3px) get-vw(0px) #92780b
    font-size: get-vw(20px)

.partner
    background: #fff
    display: block
    margin: get-vw(10px) auto
    padding: get-vw(20px) get-vw(10px)
    transition: all 0.25s linear
    box-shadow: 3px 3px 0 #2b2548

.partner:hover
    transform: scale(1.1)

.partner-logo
    margin: get-vw(10px) auto
    display: block

.partner--title,
.partner--type
    text-align: center
    text-transform: uppercase
    font-family: $font-family
    font-weight: 900
    font-size: get-vw(12px)

.partner--title
    color: #351347

.partner--type
    color: #666


$vw-context-enabled: false

@media #{$media-query-medium}

    .partners
        padding-bottom: get-vw(50px)

    .partners:before
        height: get-vw(6.3px)

    .partners--title

        padding: get-vw(10px) get-vw(20px)
        margin: get-vw(30px) get-vw(15px) get-vw(5px)
        box-shadow: get-vw(3px) get-vw(3px) get-vw(0px) #92780b
        font-size: get-vw(22px)

    .partner
        margin: get-vw(16px) auto
        padding: get-vw(20px)

    .partner-logo
        margin: get-vw(10px) auto

    .partner--title,
    .partner--type
        font-size: get-vw(14px)
