$speaker--date-bg: #963494
$speaker--date-text: #fff

$speaker--name-bg: #fff
$speaker--name-text: #556BA3

$speaker--time--start-bg: #963494
$speaker--time--end-bg: #642363
$speaker--time-text: #fff

$vw-context-enabled: true

body
  background: yellow

.speaker
  width: get-vw(256px)
  margin: 0 auto
  font-family: $font-family

.speaker--date
  background: $speaker--date-bg
  color: $speaker--date-text
  font-weight: 700
  padding: get-vw(3px) get-vw(8px)
  display: inline-block

.speaker--name
  background: $speaker--name-bg
  color: $speaker--name-text
  width: get-vw(160px)
  float: left
  text-align: center
  text-transform: uppercase

.speaker--time
  color: $speaker--time-text

  .start
    background: $speaker--time--start-bg
    float: left

  .end
    @extend .start
    background: $speaker--time--end-bg


$vw-context-enabled: false
